/* Write your CSS here */
* {
  margin: 0px;
}
.bg-container {
  background-image: linear-gradient(#fbc7d4, #8b5cf6);
  background-size: cover;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  background-color: white;
  padding: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
}

.heading {
  font-size: 20px;
  color: #171f46;
  align-self: flex-start;
}

.input-text {
  width: 300px;
  height: 40px;
  outline: none;
  cursor: pointer;
  border-color: #b5b7c4;
  border-width: 1px;
  padding: 10px;
}

.titel-heading {
  margin-top: 15px;
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
  font-weight: 10px;
}

.button {
  background-color: #8b5cf6;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  border: 0px;
  cursor: pointer;
}

.image {
  width: 400px;
  margin-left: 200px;
  padding-bottom: 40px;
  height: 250px;
}

.form-container {
  display: flex;
  flex-direction: row;
}

.line {
  border: solid 1px;
  color: gray;
  width: 90%;
  max-width: 1000px;
}

.apointment {
  font-size: 20px;
  margin-top: 30px;
  color: #171f46;
}

.appointments-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  align-self: flex-start;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.starter-button {
  background-color: transparent;
  color: #8b5cf6;
  border: solid 1px;
  border-color: #8b5cf6;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  margin-top: 30px;
}

.starter-buttonActive {
  background-color: #8b5cf6;
  color: white;
  border: solid 1px;
  border-color: #8b5cf6;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  margin-top: 30px;
}
